.cli{
    width: 100%;
    height: 100%;
    display:flex;
    justify-content:center;
    align-items:center;
    margin: 50px 0px;
    text-align: center;
    flex-direction: column;
}

.bg{
    background-color: #1e1e1e;
    width: 80%;
    height: 60vh;
    border: 2px solid #FF9A00;
    border-radius:20px;
}

.txtArea{
    width:80%;
    height:60vh;
    background-color: #1e1e1e;
    color: #FF9A00;
    border:2px solid #FF9A00;
    border-radius:20px;
    padding: 10px;
    display:flex;
    align-items:flex-start;
    font-size: 1.2rem;
    position: relative;
}

.start{
    font-weight: bold;
    margin-bottom: 10px;
    color: #FF9A00;
    font-family: 'Fira Code', monospace;
}

.cursor{
    animation: blink 1s infinite;
    margin-left: 5px;
}
@keyframes blink{
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.hiddenInput {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: none;
  outline: none;
  cursor: text;
}