.prjct{
    padding: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 15px;
    align-items: center;
}

.hd2{
    font-size: 2rem;
    gap: 2px;
}

.cards{
    margin-top: 30px;
    display:grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 5px;
    place-items: center;
    width: 90%;
    display:none;
}

.card[id="0"]{
    transform: rotate(-36deg);
    z-index:3;
    top:40%;
}

.card[id="1"]{
    transform: rotate(-18deg);
    z-index:4;
    top:10%;
}

.card[id="2"]{
    transform: rotate(0deg);
    z-index:5;
}

.card[id="3"]{
    transform: rotate(18deg);
    z-index:4;
    top:10%;
}

.card[id="4"]{
    transform: rotate(36deg);
    z-index:3;
    top:40%;
}

.card{
    position: relative;
    padding: 15px;
    width: auto;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    margin: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    background-color: #29373a;
}

.card img{
    width: auto;
    height: 250px;
    object-fit: cover;
}

.card a{
    text-decoration: none;
    color: inherit;
}

.card:hover{
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    z-index: 10;
}

.card[id="0"]:hover{
    transform: scale(1.05) rotate(-36deg);
}

.card[id="1"]:hover{
    transform: scale(1.05) rotate(-18deg);
}

.card[id="2"]:hover{
    transform: scale(1.05) rotate(0deg);
}

.card[id="3"]:hover{
    transform: scale(1.05) rotate(18deg);
}

.card[id="4"]:hover{
    transform: scale(1.05) rotate(36deg);
}

.card-title{
    font-size: 1.2rem;
    margin: 5px 0;
    transition: color 0.3s ease-in-out;
}

.mail{
    display: flex;
    padding: 20px;
    justify-content: center;
    margin-top: 100px;
}

.mail-t{
    position: relative;
    border-top:100px solid whitesmoke;
    border-left:250px solid transparent;
    border-right:250px solid transparent;
    left: 74vh;
    top:3px;
}

.mail-b{
    position: relative;
    border-bottom:100px solid whitesmoke;
    border-left:250px solid transparent;
    border-right:250px solid transparent;
    top: 17px;
    left: 6vh;
}

.mail-r{
    position: relative;
    border-right:250px solid whitesmoke;
    border-top:100px solid transparent;
    border-bottom:100px solid transparent;
    left:-25vh;
    top: 10px;
}

.mail-l{
    position: relative;
    border-left:250px solid whitesmoke;
    border-top:100px solid transparent;
    border-bottom:100px solid transparent;
    top:10px;
    left:-100vh;
}


